In [1]:
import pandas as pd

In [2]:
file = '../Resources/purchase_data.csv'

In [3]:
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Create an empty dataframe
player_count_df = pd.DataFrame()

# Drop any duplicates to make the count easier
count_df = df.drop_duplicates(subset = ['SN'])

In [5]:
# Perform a count function
players = count_df['SN'].count()

# Add to the dataframe
player_count_df['Total Players'] = [players]

#Show results of the dataframe
player_count_df

   Total Players
0            576

In [6]:
# Create a new dataframe for a summary table
summary_df = pd.DataFrame()

#Find the statistical measures
average = df['Price'].mean()
total = df['Price'].sum()
item_count = df['Item ID'].count()

In [7]:
# Keep only unique values
sub_df = df.drop_duplicates(subset = ['Item Name'])

# Count only the unique items
total_items = sub_df['Item Name'].count()

In [8]:
# Add all of the data to the existing dataframe
summary_df['Number of Unique Items'] = [total_items]
summary_df['Average Purchase Price'] = [average]
summary_df['Total Number of Purchases'] = [item_count]
summary_df['Total Revenue'] = [total]

In [9]:
# Format columns
summary_df['Average Purchase Price'] = summary_df['Average Purchase Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Show the dataframe
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [10]:
## Curious experiment
gendertotal_df = count_df['Gender'].value_counts().rename_axis('Gender').reset_index(name = 'Total')
genderpercent_df = count_df['Gender'].value_counts('Male').rename_axis('Gender').reset_index(name = 'Total Percent')
gender_df = pd.merge(gendertotal_df, genderpercent_df, on = 'Gender')

gender_df['Total Percent'] = gender_df['Total Percent']*100
gender_df['Total Percent'] = gender_df['Total Percent'].map("{:.2f}%".format)

gender_df

                  Gender  Total Total Percent
0                   Male    484        84.03%
1                 Female     81        14.06%
2  Other / Non-Disclosed     11         1.91%

In [11]:
#Find statistical measures under a certain group
gender_avg = df.groupby(['Gender'])['Price'].mean()
gender_count = df.groupby(['Gender'])['SN'].count()
gender_total = df.groupby(['Gender'])['Price'].sum()

In [12]:
# Merge two of the dataframes
gender_merge_df = pd.merge(gender_count, gender_avg, on = 'Gender')

# Appending the total price to the dataframe
gender_merge_df['Total Purchase Value'] = gender_total

# Find the count of all players but grouped by gender
gender_ind = count_df.groupby(['Gender'])['SN'].count()

# Find the average spending of gender groups
gender_average = gender_total / gender_ind

# Append to a new column in dataframe
gender_merge_df['Avg Total Purchase Per Player'] = gender_average

In [13]:
# Remame some columns
Gender_df = gender_merge_df.rename(columns={'SN':'Purchase Count', 'Price':"Average Purchase Price"})

# Format values to match their columns
Gender_df['Average Purchase Price'] = Gender_df['Average Purchase Price'].map("${:.2f}".format)
Gender_df['Total Purchase Value'] = Gender_df['Total Purchase Value'].map("${:.2f}".format)
Gender_df['Avg Total Purchase Per Player'] = Gender_df['Avg Total Purchase Per Player'].map("${:.2f}".format)

#Show the new dataframe
Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Player
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [14]:
#another one
#value_count = count_df.groupby(['Gender'])['SN'].count()
#percent_count = count_df.groupby(['Gender'])['SN'].count('Male')
#value_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64