In [1]:
# Importing a dependancy
import pandas as pd

In [2]:
# Define the path for reading the csv
file = '../Resources/purchase_data.csv'

In [3]:
#Reading the csv file setting it to the new df.
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Create an empty dataframe
player_count_df = pd.DataFrame()

# Drop any duplicates to make the count easier
count_df = df.drop_duplicates(subset = ['SN'])

In [5]:
# Perform a count function
players = count_df['SN'].count()

# Add to the dataframe
player_count_df['Total Players'] = [players]

#Show results of the dataframe
player_count_df

   Total Players
0            576

In [6]:
# Create a new dataframe for a summary table
summary_df = pd.DataFrame()

#Find the statistical measures
average = df['Price'].mean()
total = df['Price'].sum()
item_count = df['Item ID'].count()

In [7]:
# Keep only unique values
sub_df = df.drop_duplicates(subset = ['Item Name'])

# Count only the unique items
total_items = sub_df['Item Name'].count()

In [8]:
# Add all of the data to the existing dataframe
summary_df['Number of Unique Items'] = [total_items]
summary_df['Average Purchase Price'] = [average]
summary_df['Total Number of Purchases'] = [item_count]
summary_df['Total Revenue'] = [total]

In [9]:
# Format columns
summary_df['Average Purchase Price'] = summary_df['Average Purchase Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Show the dataframe
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [27]:
gendertotal_df = count_df['Gender'].value_counts().rename_axis('Gender').reset_index(name = 'Total')
genderpercent_df = count_df['Gender'].value_counts('Male').rename_axis('Gender').reset_index(name = 'Total Percent')
gender_df = pd.merge(gendertotal_df, genderpercent_df, on = 'Gender')

gender_df['Total Percent'] = gender_df['Total Percent']*100
gender_df['Total Percent'] = gender_df['Total Percent'].map("{:.2f}%".format)

gender_df.set_index("Gender", inplace = True)

gender_df

                       Total Total Percent
Gender
Male                     484        84.03%
Female                    81        14.06%
Other / Non-Disclosed     11         1.91%

In [11]:
#Find statistical measures under a certain group
gender_avg = df.groupby(['Gender'])['Price'].mean()
gender_count = df.groupby(['Gender'])['SN'].count()
gender_total = df.groupby(['Gender'])['Price'].sum()

In [12]:
# Merge two of the dataframes
gender_merge_df = pd.merge(gender_count, gender_avg, on = 'Gender')

# Appending the total price to the dataframe
gender_merge_df['Total Purchase Value'] = gender_total

# Find the count of all players but grouped by gender
gender_ind = count_df.groupby(['Gender'])['SN'].count()

# Find the average spending of gender groups
gender_average = gender_total / gender_ind

# Append to a new column in dataframe
gender_merge_df['Avg Total Purchase Per Player'] = gender_average

In [13]:
# Remame some columns
Gender_df = gender_merge_df.rename(columns={'SN':'Purchase Count', 'Price':"Average Purchase Price"})

# Format values to match their columns
Gender_df['Average Purchase Price'] = Gender_df['Average Purchase Price'].map("${:.2f}".format)
Gender_df['Total Purchase Value'] = Gender_df['Total Purchase Value'].map("${:.2f}".format)
Gender_df['Avg Total Purchase Per Player'] = Gender_df['Avg Total Purchase Per Player'].map("${:.2f}".format)

#Show the new dataframe
Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Player
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [52]:
bins = [0,9,14,19,24,29,34,39,44]
group_names = ["< 10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [54]:
count_df["Age group"]= pd.cut(count_df["Age"], bins, labels=group_names, include_lowest=True)
count_df

C:\Users\Kevin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,< 10

In [55]:
age_df = count_df.groupby("Age group")
age_df.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age group
< 10                17   17   17      17       17         17     17
10-14               22   22   22      22       22         22     22
15-19              107  107  107     107      107        107    107
20-24              258  258  258     258      258        258    258
25-29               77   77   77      77       77         77     77
30-34               52   52   52      52       52         52     52
35-39               31   31   31      31       31         31     31
40+                 11   11   11      11       11         11     11

In [56]:
count_df.loc[["Age"] > 40]

TypeError: '>' not supported between instances of 'list' and 'int'

In [15]:
#test code to mess around with
test = df.groupby(['Gender'])
test_df = pd.DataFrame(test['Item Name'].unique())
test_df

                                                               Item Name
Gender
Female                 [Deadline, Voice Of Subtlety, Nirvana, Renewed...
Male                   [Extraction, Quickblade Of Trembling Hands, Fr...
Other / Non-Disclosed  [Ghastly Adamantite Protector, Warped Fetish, ...

In [16]:
## Easier way to get unique player count
test3 = df["SN"].unique()
len(test3)

576

In [17]:
reduced_df = df.loc[(df["SN"].value_counts())]

In [18]:
count1 = count_df['Gender'].value_counts()

In [19]:
count1

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [20]:
r = pd.DataFrame(count1)

In [21]:
r

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [22]:
count2 = r['Gender'] / len(test3)

In [23]:
count2

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [24]:
r["Percent"]= [count2]

ValueError: Length of values does not match length of index

In [ ]:
q = pd.merge(r,p, how = 'outer')